<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>박스의 경계선과 그림자 효과</title>
<link rel="stylesheet" href="../resources/css/0205.css"/>
</head>
<body>
	<h1 class="korea"><p>대한민국</p></h1>
	
	<div class="menu">Unix</div>
	<div class="menu">Mac OS X</div>
	<div class="menu">Linux</div>
	<div class="menu">Windows</div>
	
	<!-- 다음줄로 내리고자 하면 기존 float를 해제해야함 -->
	<div class="title"><h2>운영체제</h2></div>
	
	<table>
		<tr>
			<th>이름</th>
			<th>언어</th>
		</tr>
	</table>
	
	<div class="contents">
	<table>
		<tr>
			<td>데니스 리치히</td>
			<td>c언어</td>
		</tr>
		<tr>
			<td>제임스 고슬링</td>
			<td>JAVA</td>
		</tr>
		<tr>
			<td>귀도 반 로섬</td>
			<td>Python</td>
		</tr>
		<tr>
			<td>브랜던 아이크</td>
			<td>Java Script</td>
		</tr>
		<tr>
			<td>비야네 아이크</td>
			<td>c++</td>
		</tr>
		<tr>
			<td>아이작</td>
			<td>C#</td>
		</tr>
	</table>
	</div>
	<br/>
	<div id="transform">트랜스폼</div>
</body>
</html>